* {
  box-sizing: border-box;
}

body {
  background-color: #252525;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50% );
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin-top:250px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  opacity: 0;
}

.input-field {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px;
  width: 250px;
}

.button {
  background-color: #ffffff00;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #aaaaaa;
  transition: color 0.1s ease-in;
  color: #121212;
}

.item-wrapper {
  margin-top: 30px;
  padding: 30px;
  border: 2px solid #fff;
}

.progress-bar {
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.progress-bar-fill {
  background-color: #adaf33;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.progress-bar-label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

.add-item-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}


.max-amount-input {
  width:100%;
  margin-top:20px;
}

.amount-input {
  width:100%;
  margin-top:20px;
}